<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Tripteam{% endblock %}</title>
        {% block stylesheets %}
            <!-- CSS -->
            <link href="{{ asset('style/style.css') }}" rel="stylesheet"/>
            <link href="{{ asset('style/bootstrap.min.css') }}" rel="stylesheet"/>

            <!--JS-->
            <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
            <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

            <!--Font style-->
            <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

        {% block body %}

        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
