<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Tripteam{% endblock %}</title>
        {% block stylesheets %}

            <!-- CSS -->
            <link href="{{ asset('style/style.css') }}" rel="stylesheet" type="text/css" media="screen,projection" />
            <link href="{{ asset('style/bootstrap.min.css') }}" rel="stylesheet"/>
            <!-- FONT -->
            <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">


        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

        {% block body %}

        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
