/* MON PROFIL */


body{
    font-family: Raleway;

}


.logo>img {
    margin-top: 30px;
    padding: 3px;
    border: 3px solid white;
    border-radius: 100%;
}

.displayimg {
    width: 100px;
    padding: 3px;
    border: 3px solid white;
    border-radius: 100%;
}
/*END profil */

h2{
    font-family: 'Satisfy', cursive;

}

h4{

    font-family: 'Satisfy', cursive;


}

.user-image{
    margin-bottom: 20px;
}

button{
    background-color: #f1ab53 !important;
    border:none !important;
}
