.banniere{
    padding: 0px;
    min-height: 100%;
}

.ban{
    padding: 0px;
    width:100%;
    max-width: 100%;
    position:relative; /*donc se place en dessous de innerbanner*/
}

.ban img{
    width:100%;
    height: 420px;
}

.inner-banner{
    position: absolute; /*donc se place au dessus de ban*/
    margin-left: 200px;
    width:100%;
    top:5%;
}

.inner-banner h1{
    font-size: 50px;
    font-family: 'Satisfy', cursive;
    margin-left: 500px;
    color:white;
    text-shadow: 1px 1px 5px black;
}

#search_dateDebutG{
    width: 178px;
    display: inline-block;

}

#search_dateFinG{
    width: 178px;
    display: inline-block;
}

#search_lieuG{
    width: 204px;
    display: inline-block;
}

#button{
    width: 120px;
    height: 40px;
    background-color: #f1ab53;
    margin-left: auto;
    margin-right: auto;
}

label{
    font-family: 'Comic Sans MS', cursive;
    font-size: 13px;
    display:inline-block;
    width:200px;
    color:#FAFAD2;
}

form {
    width: 100px;
    margin-left: auto; /*100*/
    margin-right: auto; /*5*/
    line-height:15px;
    font-family: Arial, sans-serif;
    font-size: 13px;
}

table{
    width: 50%;
    margin-left: 225px;
}

th{
    height: 50px;
    font-size: 20px;
    font-family: 'Satisfy', cursive;
    color: #1c7430;
}

td{
    height: 30px;
    font-size: 15px;
    font-family: 'Comic Sans MS', cursive;
    color: black;
}

.flash-notice{
    color:red;
}