.container-fluid{
    padding-right:0px !important;
    padding-left:0px !important;
}

.ban{
    width:100%;
    max-width: 100%;
    position:relative; /*donc se place en dessous de innerbanner*/
}

.ban img{
    width:100%;
    height: auto;
}

.inner-banner{
    position: absolute; /*donc se place au dessus de ban*/
    text-align: center;
    width: 100%;
    top:5%;
}

.inner-banner h1{
    font-size: 30px;
    font-family: 'Satisfy', cursive;
    color:white;
    text-shadow: 1px 1px 5px black;
}

#search_dateDebutG{
    width: 178px;
    display: inline-block;
    margin-left: 30px;
}

#search_dateFinG{
    width: 178px;
    display: inline-block;
    margin-left: 30px;
}

#search_lieuG{
    width: 204px;
    display: inline-block;
    margin-left: 30px;
}

#button{
    width: 120px;
    height: 40px;
    margin-left: 400px;
    background-color: #f1ab53;
}

label{
    font-family: 'Comic Sans MS', cursive;
    font-size: 13px;
    display:inline-block;
    margin-left: 0px;
    width:200px;
}

form {
    width: 700px;
    margin-left: 100px;
    margin-top: 5px;
    line-height:15px;
    font-family: Arial, sans-serif;
    font-size: 13px;
}

table{
    width: 50%;
    margin-left: 30px;
}

th{
    height: 50px;
    font-size: 20px;
    font-family: 'Satisfy', cursive;
    color: #1c7430;
}

td{
    height: 30px;
    font-size: 15px;
    font-family: 'Comic Sans MS', cursive;
    color: black;
}

