{% extends 'base.html.twig' %}

{% block body %}

    <table>
        <thead>
            <tr>
                <th>Nom du groupe</th>
                <th>Date du début du séjour</th>
                <th>Date de fin du séjour</th>
                <th>Lieu du séjour</th>
            </tr>
        </thead>
        <tbody>
        {% for groupe in groupes %}
            <tr>
                <td>{{ groupe.nomG }}</td>
                <td>{% if groupe.dateDebutG %}{{ groupe.dateDebutG|date('Y-m-d') }}{% endif %}</td>
                <td>{% if groupe.dateFinG %}{{ groupe.dateFinG|date('Y-m-d') }}{% endif %}</td>
                <td>{{ groupe.lieuG }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
