{% extends 'membre.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('style/profil.css') }}" rel="stylesheet" type="text/css" media="screen,projection"/>

{% endblock %}


{% block content %}



    <div class="col-md-8 col-md-offset-1 col-sm-8  main-content">
        <div class="row">
            <div class="user-image">
                <div class="logo">
                    <img src="http://lorempixel.com/output/people-q-g-64-64-1.jpg" class="img-responsive center-block logoimg"
                         alt="Logo"></div>
                <h2>{{ user.prenom }} {{ user.nom |  capitalize }}</h2>
            </div>
            <button class="btn btn-primary" type="submit"><i class="fas fa-envelope fa-lg"></i> Envoyez-lui un message</button>
            <div class="infoperso">
                <h4>Informations personnelles</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit </p>
            </div>


            <hr class="separator">

            <div class="cdi">
                <h4>Centres d'intérêts</h4>
                <ul class="list-inline">
                    <li>Livres policiers,</li>

                    <li>Le football argentin,</li>

                    <li>Les tigres</li>



                </ul>
            </div>

            <hr class="separator">

            <div class="langues">
                <h4>Langues</h4>
                <ul class="list-inline">
                    <li>Français</li>

                    <li>Anglais</li>

                    <li>Espagnol</li>

                </ul>
            </div>

            <hr class="separator">

            <div class="groups">
                <h4>Groupes</h4>
                <ul class="list-inline">
                    <li><a>Les teufeurs</a></li>

                    <li>Anglais</li>

                    <li>Espagnol</li>

                </ul>

            </div>

            <hr class="separator">

            <div class="voyages">
                <h4>Voyages</h4>
            </div>


        </div>


    </div>
    </div>
    </body>

{% endblock %}
